.gitignore
.gitlab-ci.yml
.editorconfig

node_modules
public/hot
public/storage
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/
.gitlab/
.git/

_ide_*.php
.*.meta.php

gl-*-report.json

rr
